version: '3.8'
name: minecraft
services:
  server:
    image: ghcr.io/codecraft3r/packwiz-container:main
    environment:
      - PACKWIZ_URL=https://raw.githubusercontent.com/Poiesis-Ed/minecraft/refs/heads/main/pack.toml
      - MB_RAM=6144
    volumes:
      - world-data:/mnt/server/world
      - ./whitelist.json:/mnt/server/whitelist.json
    ports:
      - "25565:25565"
    restart: unless-stopped
  backup:
    image: itzg/mc-backup
    environment:
      BACKUP_INTERVAL: "12h"
      RCON_HOST: server
      RCON_PASSWORD: packwiz
      INITIAL_DELAY: 10m
    volumes:
      - world-data:/data:ro
      - ./mc-backup:/backups

volumes:

  world-data:
